Test-Command: pytest-3 -v -k 'not OnnxBackendRealModelTest and not examples and not make_tensor_raw and not to_array_with_external_data and not save_model_with_external_data_multiple_times and not float8_e4m3fn_negative_nan and not float8_e5m2_negative_nan and not maxpool_2d_uint8_cpu'
Depends: python3-parameterized, python3-pil, python3-pytest, @
Restrictions: allow-stderr
